@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  height: 100%;
  width: 100%;
  position: relative;
}

.imgCarrousel {
  height: 600px;
}

@keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.container_section {
  display: flex;
  justify-content: center;
  color: black;
  font-family: "Lora", serif;
}
.container_section .formulario_contenedor {
  color: whitesmoke;
  font-family: "Lora", serif;
}
.container_section .campos {
  background-color: ghostwhite;
  border-radius: 5px;
  font-size: 20px;
  color: #555;
  border: none;
  outline: none;
  width: 500px;
}
.container_section .campos_texto {
  background-color: ghostwhite;
  border-radius: 5px;
  font-size: 20px;
  color: #555;
  border: none;
  outline: none;
  width: 500px;
  height: 200px;
}
.container_section .botones {
  padding: 5px 15px;
  color: white;
  background-color: #900C3F;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.container_section .botones:hover {
  box-shadow: 0 8px 8px 0 #000000, 0 6px 6px 0 #000000;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  -moz-transform: translate(0px, 5px);
}
.container_section label {
  align-items: center;
  display: block;
  margin-bottom: 5px;
  font-family: "Lora", serif;
  color: black;
  animation-name: text;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

header {
  margin-bottom: 10px;
  text-align: center;
}
header nav {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1px 30px;
}
header .nav-link {
  color: white;
}
header .logo {
  display: flex;
  justify-content: center;
  width: 300px;
}
header li {
  display: inline-block;
  margin: 0 10px;
}
header li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: whitesmoke;
  top: 100%;
  left: 100%;
}

footer {
  display: flex;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
footer .logoFooter {
  height: 70px;
  width: 80px;
  margin-bottom: 1rem;
}
footer .social-icon {
  height: 40px;
  width: 40px;
  color: white;
  margin-bottom: 10px;
}
footer .redes_titulo {
  color: white;
  font-family: "Lora", serif;
}
footer span {
  color: white;
}

.row {
  margin-left: 0;
}
.row .tituloVinos {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Lora", serif;
}
.row .tarjetas_vinos .boton_vinos {
  display: inline-block;
  padding: 5px 5px;
  background-color: #900C3F;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.row .tarjetas_vinos .boton_vinos:hover {
  transform: translatey(-20px);
  -webkit-transform: translatey(-20px);
  -moz-transform: translatey(-20px);
}

.mainSucursal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
}
.mainSucursal .local_ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Lora", serif;
  font-size: 20px;
}
.mainSucursal iframe {
  width: 600px;
  height: 400px;
  margin-left: 10px;
}

h1 {
  display: flex;
  justify-content: center;
  color: black;
  font-family: "Lora", serif;
  animation-name: texto;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: text;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.contenedor_bodegas {
  margin: 10px;
  padding: 10px;
}
.contenedor_bodegas .bodegas_img {
  height: 300px;
}
.contenedor_bodegas .titulo_bodegas {
  display: flex;
  justify-content: center;
  font-family: "Lora", serif;
}
.contenedor_bodegas .card_bodegas:hover {
  background-color: rgb(62, 62, 62);
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: whitesmoke;
  top: 100%;
  left: 100%;
}

@media (max-width: 880px) {
  .mainSucursal {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .local_ubicacion {
    border: 1px solid rgb(0, 0, 0);
    border-left: none;
    border-right: none;
    padding: 10px;
  }
  iframe {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 500px) {
  .body {
    margin: 0;
    padding: 0;
  }
  .row {
    margin-left: 0;
  }
  .logo {
    width: 300px;
  }
}

/*# sourceMappingURL=estilo.css.map */
