.contenedor_bodegas {
    margin: 10px;
    padding: 10px;

    .bodegas_img {
        height: 300px;
    }

    .titulo_bodegas {
        display: flex;
        justify-content: center;
        font-family: $tipotexto;
    }

    .card_bodegas {
        &:hover {
            background-color: rgb(62, 62, 62);
            color: white;
            cursor: pointer;
            transform: scale(1.03);
            transition: all 1s ease;
        }
    }
}