@media (max-width: 1250px) {
    .mainSucursal {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;

    }

    .local_ubicacion {
        border: 1px solid rgb(0, 0, 0);
        border-left: none;
        border-right: none;
        padding: 10px;
    }

    iframe {
        width: 250px;
        height: 250px;
    }
}



@media (max-width: 500px) {

    .body {
        margin: 0;
        padding: 0;
    }

    .row {
        margin-left: 0;

    }

    .logo {
        width: 300px;
    }

}