.tituloVinos {
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Lora', serif;
}
.titulo_contacto {
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Lora', serif;
}

.titulo_bodegas {
    display: flex;
    justify-content: center;
    font-family: 'Lora', serif;
}

.titulo_contacto {
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Lora', serif;
}

.nuestraSucursal {
    display: flex;
    justify-content: center;
    font-family: 'Lora', serif;
    color: black;
}
.titulo_contacto {
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Lora', serif;
}

