h1 {
    display: flex;
    justify-content: center;
    color: black;
    font-family: $tipotexto;
    animation-name: texto;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: text;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

